# Application
ADDITIONAL_USER_PROJECTS_PATH={{ application_additional_projects_path }}
DJANGO_ENV={{ application_django_env }}
DJANGO_SECRET_KEY={{ application_django_secret_key }}
SERVER_DOMAIN_NAME={{ deployment_fqdn }}
DEBUG={{ application_debug }}
ALLOWED_HOSTS="{{ deployment_fqdn }}"
ALWAYS_RELOAD_REFERENCE_DATA_ON_RESTART={{ application_always_reload_reference_data_on_restart }}
AUTH_SERVER_LOGOUT_URL={{ application_auth_server_logout_url }}

# Database
METAX_DATABASE_HOST={{ database_host }}
METAX_DATABASE={{ database_name }}
METAX_DATABASE_USER={{ database_user }}
METAX_DATABASE_PASSWORD={{ database_password }}

# Elasticsearch
ELASTIC_SEARCH_HOSTS={{ elasticsearch_hosts }}

# Redis
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ redis_password }}
REDIS_USE_PASSWORD={{ redis_use_password }}

# RabbitMQ
RABBIT_MQ_HOSTS={{ rabbitmq_hosts }}
RABBIT_MQ_VHOST={{ rabbitmq_vhost }}
RABBIT_MQ_USER={{ rabbitmq_user }}
RABBIT_MQ_PASSWORD={{ rabbitmq_password }}
RABBIT_MQ_USE_VHOST={{ rabbitmq_use_vhost }}

# OAI
OAI_BASE_URL={{ application_oai_base_url }}
OAI_BATCH_SIZE={{ application_oai_batch_size }}
OAI_REPOSITORY_NAME={{ application_oai_repository_name }}
OAI_ETSIN_URL_TEMPLATE={{ application_oai_etsin_url_template }}
OAI_ADMIN_EMAIL={{ application_oai_admin_email }}

# Datacite
DATACITE_USERNAME={{ application_datacite_username }}
DATACITE_PASSWORD={{ application_datacite_password }}
DATACITE_ETSIN_URL_TEMPLATE={{ application_datacite_etsin_url_template }}
DATACITE_PREFIX={{ application_datacite_prefix }}
DATACITE_URL={{ application_datacite_url }}

# Rems
REMS_ENABLED={{ application_rems_enabled }}
REMS_API_KEY={{ application_rems_api_key }}
REMS_BASE_URL={{ application_rems_base_url }}
REMS_ETSIN_URL_TEMPLATE={{ application_rems_etsin_url_template }}
REMS_METAX_USER={{ application_rems_metax_user }}
REMS_REPORTER_USER={{ application_rems_reporter_user }}
REMS_AUTO_APPROVER={{ application_rems_auto_approver }}
REMS_FORM_ID={{ application_rems_form_id }}

# Logging
LOGGING_GENERAL_HANDLER_FILE={{ directory_log }}/metax_api.log
LOGGING_DEBUG_HANDLER_FILE={{ directory_log }}/metax_api.debug.log
LOGGING_JSON_FILE_HANDLER_FILE={{ directory_log }}/metax_api.json.log
ERROR_FILES_PATH={{ directory_log }}/errors

# Users
API_USERS_PATH={{ directory_config }}/metax_users.json
