[Unit]
Description=Fairdata Metax API
Requires=fairdata-metax.socket
After=network.target

[Service]
Type=notify
User={{ application_user }}
Group={{ application_group }}
EnvironmentFile={{ directory_config }}/fairdata-metax.env
WorkingDirectory={{ repo_path }}/src
ExecStart=/bin/sh -c '${GUNICORN_BIN} --config ${GUNICORN_CONF} metax_api.wsgi:application'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
